/*
	HELPER CLASSES
*/

.cl:after {
	content: "";
	display: table;
	clear: both;
}

.pull-right { float: right; }

.pull-left { float: left; }

/*
	GRID
*/

html, body { 
	width: 100%;
	height: 100%;
	min-width: 960px;
}

.page-wrapper {
	position: relative;
	width: 100%;
	min-width: 960px;
	max-width: 1020px;
	margin: 0 auto;
  background: #fafafa url(../img/bg-pattern-light2.jpg) repeat;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.row { margin: 0 -10px; }

.col {
	float: left;
	padding: 0 1.04167%;
}

.col1 { width: 6.25%; }

.col2 { width: 14.583%; }

.col3 { width: 22.9167%; }

.col4 { width: 31.25%; }

.col5 { width: 39.583%; }

.col6 { width: 47.9167%; }

.col7 { width: 56.25%; }

.col8 { width: 64.583%; }

.col9 { width: 72.9167%; }

.col10 { width: 81.25%; }

.col11 { width: 89.583%; }

.col12 { width: 97.9167%; }

.col-offset1 { margin-left: 8.33%; }

.col-offset2 { margin-left: 16.667%; }

.col-offset3 { margin-left: 25%; }

.col-offset4 { margin-left: 33.33%; }

.col-offset5 { margin-left: 41.667%; }

.col-offset6 { margin-left: 50%; }

.col-offset7 { margin-left: 58.33%; }

.col-offset8 { margin-left: 66.667%; }

.col-offset9 { margin-left: 75%; }

.col-offset10 { margin-left: 83.33%; }

.col-offset11 { margin-left: 91.667%; }

/*
	FONTS
*/

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	color: #252525;
}

.text-serif { font: 400 18px/24px Bitter, Georgia, "Times New Roman", serif; }

.text-serif_size_small { font: 400 14px/16px Bitter, Georgia, "Times New Roman", serif; }

.text-serif_size_medium { font: 400 14px/18px Bitter, Georgia, "Times New Roman", serif; }

.text-serif_size_big { font: 400 24px/30px Bitter, Georgia, "Times New Roman", serif; }

.text-sans-serif { font: 400 14px/16px Helvetica, Arial, sans-serif; }

.text-sans-serif_size_small { font: 400 12px/16px Helvetica, Arial, sans-serif; }

.text-sans-serif_size_medium { font: 400 14px/18px Helvetica, Arial, sans-serif; }

.text_weight_bold { font-weight: 700; }

.text_color_dark { color: #252525; }

.text_color_light { color: #fff; }

.text_color_muted { color: #adadad; }

.text_color_muted2 { color: #464646; }

.text_color_info { color: #ea5a4b; }

.text-primary { background-color: #ea5a4b; }

.text-uppercase { text-transform: uppercase; }

/*
	BASE
*/

h1, h2, h3, h4, h5, h6 { margin: 0; }

p { margin: 0; }

a { text-decoration: none; }

.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  margin-right: 4px;
  margin-bottom: 9px;
  font-size: 0;
  text-decoration: none;
  background: #ea5a4b url(../img/sprite-icon-set.png) no-repeat;
  border-radius: 5px;
}

/* Header */

.page-header {
  min-height: 103px;
  background: #fcfcfc url(../img/bg-pattern-light.jpg) repeat-x;
}

/* Strip */

.strip {
  min-height: 47px;
  background: #25282b url(../img/bg-pattern-dark.jpg) repeat-x;
  text-align: right;
}

/* Header Social Icons */

.social-btn_style_black-white {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 7px;
  margin-left: 7px;
  background: #25282b url(../img/sprite-icon-set.png) no-repeat;
}

.social-btn_style_black-white:last-child { margin-right: 0; }

.social-btn_style_black-white:hover { opacity: .7; }

.social-btn_net_twitter-black-white {
  width: 26px;
  height: 15px;
  background-position: -10px -1058px; 
}

.social-btn_net_facebook-black-white {
  width: 8px;
  height: 16px;
  background-position: -10px -912px;
}

.social-btn_net_dribbble-black-white {
  width: 16px;
  height: 16px;
  background-position: -10px -876px;
}

.social-btn_net_rss-black-white {
  width: 17px;
  height: 17px;
  background-position: -10px -1021px;
}

/* Logo */

.logo__letter {
  float: left;
  width: 34px;
  height: 34px;
  margin-top: 11px;
  margin-right: 9px;
  font: 400 24px/34px Bitter, Georgia, "Times New Roman", serif;
  color: #fff;
  background-color: #ea5a4b;
  text-align: center;
}

.logo__caption {
  margin-top: 12px;
  font: 400 24px/34px Bitter, Georgia, "Times New Roman", serif;
  color: #252525;
}

/* Main Navigation */

.main-nav {
  position: relative;
  right: -12px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

.main-nav__item {
  display: inline-block;
  vertical-align: middle;
}

.main-nav__link {
  display: block;
  padding-top: 23px;
  padding-bottom: 18px;
  padding-left: 12px;
  padding-right: 12px;
  font: 700 12px/16px Helvetica, Arial, sans-serif;
  color: #252525;
  text-transform: uppercase;
}

.main-nav__item_state_current { pointer-events: none; }

.main-nav__link_state_current { color: #ea5a4b; }

.main-nav__link:hover {
  background-color: #252525;
  color: #fcfcfc;
}

.main-nav__link:active { opacity: .25; }

/* Photo Banner */

.photo-banner {
  height: 151px;
  background: #a2a2a2 url(../img/bg-photo-banner.jpg) 0 0 no-repeat;
}

/* Main */

.page-intro {
  /*position: relative;
  top: -30px;*/
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 32px;
  padding-bottom: 40px;
  background: #25282b url(../img/bg-pattern-dark.jpg) repeat-x;
}

.page-intro__caption {
  font: 700 30px/36px Bitter, Georgia, "Times New Roman", serif;
  color: #fff;
  margin-bottom: 6px;
}

.page-intro__text {
  font: 700 14px/16px Bitter, Georgia, "Times New Roman", serif;
  color: #d1d0d0;
}

.page-content {
  position: relative;
  top: -30px;
  z-index: 10;
  box-shadow:
  inset -1px -1px #dfdfdf, 
  inset 1px -1px #dfdfdf;
  background-color: #fff;
}

/* 
=========================
  INDEX.HTML
=========================
*/

/* Owl Carousel Slider */

.slider__item {
  position: relative;
}

.slider__text-wrapper {
  position: absolute;
  top: 97px;
  left: 40px;
}

.slider__text {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1px;
  padding-left: 13px;
  padding-right: 13px;
  font: 700 24px/43px Bitter, Georgia, "Times New Roman", serif;
  color: #fff;
  background-color: rgba(0,0,0,.75);
}

.slider__image {
  display: block;
  width: 100%;
  height: auto;
}

/* Navigation Buttons */

.owl-buttons div {
  position: absolute;
  top: 240px;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  font-size: 0;
  background: #ea5a4b url(../img/sprite-icon-set.png) no-repeat;
}

.owl-buttons .owl-prev { 
  left: 40px;
  background-position: 0 -766px; 
}

.owl-buttons .owl-next { 
  left: 75px;
  background-position: 0 -798px; 
}

/* Pagination */

.owl-pagination {
  position: relative;
  top: -30px;
  width: 904px;
  margin: 0 auto;
  padding-top: 23px;
  padding-bottom: 22px;
  padding-left: 27px;
  padding-right: 27px;
  background: #25282b url(../img/bg-pattern-dark.jpg) repeat-x;
}

.owl-page span {
  display: block;
  width: 75px;
  height: 75px;
  margin-right: 15px;
  background-color: #878787;
}

.owl-page span:nth-child(1) { background-image: url(../img/temp/thumbnail1.jpg); }

.owl-page span:nth-child(2) { background-image: url(../img/temp/thumbnail2.jpg); }

.owl-page span:nth-child(3) { background-image: url(../img/temp/thumbnail3.jpg); }

.owl-page.active span,
.owl-page:hover span{
  box-shadow: inset 0 0 0 2px #ea5a4b;
}

/* Features */

.features { padding-top: 48px; }

.feature {
  position: relative;
  padding-top: 6px;
  padding-bottom: 48px;
}

.feature:first-child { left: 26px; }

.feature:nth-child(2) { left: 11px; }

.feature__caption {
  margin-bottom: 13px;
  margin-left: 47px;
  font: 400 18px/24px Bitter, Georgia, "Times New Roman", serif;
  color: #252525;
}

.feature__text { color: #5c5c5c; }

.feature__image {
  position: absolute;
  top: 0;
  left: 10px;
  display: block;
  width: 31px;
  height: 31px;
}

/* Text Banner */

.text-banner {
  margin-bottom: 47px;
  font: 400 18px/24px Bitter, Georgia, "Times New Roman", serif;
  color: #252525;
  text-align: center;
}

.text-banner_style_primary {
  display: inline-block;
  vertical-align: baseline;
  padding-top: 6px;
  padding-bottom: 8px;
  padding-left: 13px;
  padding-right: 13px;
  font-weight: 700;
  color: #fff;
  background-color: #ea5a4b;
}

/* Portfolio */

.portfolio { 
  position: relative;
  left: 26px;
  padding-bottom: 6px; 
}

/* Portfolio Navigation */

.portfolio-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 27px;
}

.portfolio-nav__item {
  display: inline-block;
  vertical-align: middle;
}

.portfolio-nav__link {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 8px;
  padding-right: 8px;
  font: 400 14px/16px Bitter, Georgia, "Times New Roman", serif;
  color: #252525;
  text-transform: capitalize;
}

.portfolio-nav__item_state_current { pointer-events: none; }

.portfolio-nav__link_state_current,
.portfolio-nav__link:hover,
.portfolio-nav__link:active {
  font-weight: 700;
  background-color: #ea5a4b;
  color: #fff;
}

/* Portfolio Gallery */

.portfolio-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio-list__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 17px;
  margin-bottom: 20px;
}

.portfolio-list__img-wrapper {
  position: relative;
  width: 206px;
  height: 120px;
  margin: 0;
  padding: 0;
}

.portfolio-list__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  width: auto;
  height: auto;
}

.portfolio-list__caption {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  display: none;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  font: 700 14px/16px Bitter, Georgia, "Times New Roman", serif;
  color: #fff;
  background-color: rgba(0,0,0,.75);
}

.portfolio-list__item:hover .portfolio-list__caption { display: block; }

/* Footer */

.page-footer {
  position: relative;
  top: -60px;
  z-index: 1;
  padding-top: 65px;
  padding-bottom: 46px;
  background: #25282b url(../img/bg-pattern-dark.jpg) repeat;
  border-top: 8px solid #ea5a4b;
}

.footer-section__caption {
  margin-bottom: 19px;
  font: 700 14px/18px Helvetica, Arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.footer-section__text {
  font: 700 14px/18px Bitter, Georgia, "Times New Roman", serif;
  color: #adadad;
}

.footer-section__text + .footer-section__text { margin-top: 18px; }

/* Posts */

.posts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.posts-list__item { border-top: 1px solid #3b3b3b; }

.posts-list__item:first-child { border-top: none; }

.posts-list__link {
  display: block;
  padding-top: 12px;
  padding-bottom: 14px;
  font: 700 14px/18px Bitter, Georgia, "Times New Roman", serif;
  color: #adadad;
}

.posts-list__item:first-child .posts-list__link { padding-top: 0; }

/* Social */

.social-btn_net_rss { background-position: -10px -673px; }
.social-btn_net_facebook { background-position: -10px -316px; }
.social-btn_net_twitter { background-position: -10px -1195px; }
.social-btn_net_mail { background-position: -10px -214px; }
.social-btn_net_tumblr { background-position: -10px -1144px; }
.social-btn_net_path { background-position: -10px -520px; }
.social-btn_net_vimeo { background-position: -10px -1246px; }
.social-btn_net_zerply { background-position: -10px -1297px; }
.social-btn_net_picasa { background-position: -10px -571px; }
.social-btn_net_stumble-upon { background-position: -10px -1093px; }
.social-btn_net_skype { background-position: -10px -724px; }
.social-btn_net_reddit { background-position: -10px -622px; }
.social-btn_net_evernote { background-position: -10px -265px; }
.social-btn_net_behance { background-position: -10px -10px; }
.social-btn_net_dribbble { background-position: -10px -163px; }
.social-btn_net_digg { background-position: -10px -112px; }
.social-btn_net_blogger { background-position: -10px -61px; }
.social-btn_net_flickr { background-position: -10px -367px; }
.social-btn_net_linkedin { background-position: -10px -469px; }
.social-btn_net_google-plus { background-position: -10px -418px; }

/* 
=========================
  PORTFOLIO.HTML
=========================
*/

.page-content_page_portfolio { padding-bottom: 2px; }

.page-intro_page_portfolio { margin-bottom: 28px; }

/* 
=========================
  CONTACT.HTML
=========================
*/

.page-content_page_contact { padding-bottom: 29px; }

.page-intro_page_contact { margin-bottom: 26px; }

/* Map */

.map  {
  width: 888px;
  height: 400px;
  margin-bottom: 28px;
  margin-left: 26px;
  margin-right: 26px;
  background: #ccdda9 url(../img/temp/map.jpg) center center no-repeat;
  background-size: auto 400px;
}

#map-canvas {
  display: block;
  width: 888px;
  height: 400px;
}

/* Contacts */

.text-block {
  position: relative;
  left: 26px;
}

.text-block__text { 
  margin-bottom: 15px;
  padding-right: 71px; 
}

.contacts__text { font-style: normal; }

.contacts__text + .contacts__text { margin-top: 14px; }

.contacts__link { color: #252525; }

/* Form */
/*
.form-message {
  position: relative;
  left: -8px;
}
*/
.form-message__input,
.form-message__textarea {
  box-sizing: border-box;
  font: 400 14px Helvetica, Arial, sans-serif;
  color: #252525;
  border: 1px solid #252525;
}

.form-message__input::-moz-placeholder,
.form-message__textarea::-moz-placeholder {
  color: #252525;
  -ms-filter: none;
  filter: none;
}

.form-message__input:-moz-placeholder,
.form-message__textarea:-moz-placeholder {
  color: #252525;
  -ms-filter: none;
  filter: none;
}

.form-message__input:-ms-input-placeholder,
.form-message__textarea:-ms-input-placeholder { color: #252525; }

.form-message__input::-webkit-input-placeholder,
.form-message__textarea::-webkit-input-placeholder { color: #252525; }

.form-message__input:hover,
.form-message__textarea:hover { border-color: #ea5a4b; }

.form-message__input:focus,
.form-message__textarea:focus {
  outline: 0;
  border-color: #ea5a4b;
}

.form-message__input {
  display: inline-block;
  vertical-align: middle;
  width: 290px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}

.form-message__input:nth-of-type(odd) { margin-right: 12px; }

.form-message__input:nth-of-type(even) { margin-right: -4px; }

.form-message__textarea {
  display: block;
  width: 595px;
  height: 205px;
  margin-bottom: 15px;
  padding: 12px 15px;
  resize: none;
}

.form-message__btn {
  display: block;
  min-width: 67px;
  padding-top: 8px;
  padding-bottom: 7px;
  border: none;
  outline: none;
  background-color: #ea5a4b;
  font: 400 12px/16px Helvetica, Arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
}

/* 
=========================
  BLOG.HTML
=========================
*/

.page-content_page_blog { padding-bottom: 27px; }

.page-intro_page_blog { width: 864px; }

/* Post */

.post { 
  margin-left: 25px;
  margin-right: 23px;
  padding-top: 24px;
  padding-bottom: 33px; 
}

.post + .post { border-top: 5px solid #ea5a4b; }

.post__caption {
  margin-bottom: 14px;
  font: 400 18px/24px Bitter, Georgia, "Times New Roman", serif;
  color: #464646;
}

.post__caption-link {
  font: 400 18px/24px Bitter, Georgia, "Times New Roman", serif;
  color: #464646;
}

.post__image-wrapper {
  position: relative;
  width: 652px;
  height: 302px;
  margin-bottom: 24px;
}

.post__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  width: auto;
  height: auto;
}

.post-data {
  float: left;
  width: 150px;
}

.post-data__caption {
  margin-bottom: 2px;
  margin-top: 10px;
  font: 400 14px/20px Bitter, Georgia, "Times New Roman", serif;
  color: #252525;
}

.post-data__caption:first-child { margin-top: 0; }

.post-data__text {
  font: 400 12px/20px Helvetica, Arial, sans-serif; 
  color: #ea5a4b;
}

.post__text {
  margin-left: 177px;
  font: 400 14px/18px Helvetica, Arial, sans-serif;
  color: #252525;
}

.post__text + .post__text { margin-top: 19px; }

.post__link { color: #252525; }

.post__video {
  outline: 1px solid red;
  margin-bottom: 19px;
}

.post__audio {
  outline: 1px solid red;
  display: block;
  margin-bottom: 29px;
}

/* Blog Pagination */

.blog-pagination {
  margin: 0;
  margin-left: 24px;
  padding: 0;
  list-style: none;
}

.blog-pagination__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}

.blog-pagination__item_state_current {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 7px;
  padding-right: 7px;
  color: #fff;
  background-color: #ea5a4b;
}

.blog-pagination__link {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 7px;
  padding-right: 7px;
  font: 700 14px/16px Helvetica, Arial, sans-serif;
  color: #2d2d2d;
}

.blog-pagination__link:hover {
  color: #fff;
  background-color: #ea5a4b;
}

/* Sidebar */

.sidebar { 
  position: relative;
  left: -13px;
  margin-top: 188px; 
}

.sidebar-section { 
  padding-bottom: 21px;
  padding-right: 13px; 
}

.sidebar-section__caption {
  margin-bottom: 22px;
  font: 400 16px/26px Bitter, Georgia, "Times New Roman", serif; 
  color: #252525;
  border-bottom: 5px solid #ea5a4b;
}

.sidebar-section__text {
  font: 400 14px/18px Helvetica, Arial, sans-serif;
  color: #252525;
}

.categories-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories-list__link {
  font: 400 14px/18px Helvetica, Arial, sans-serif;
  color: #252525;
}

.advert {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
  margin-right: 1px;
}

.advert-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  width: auto;
  height: auto;
}

.advert_state_empty {
  box-sizing: border-box;
  padding-top: 33px;
  font: 400 14px/18px Bitter, Georgia, "Times New Roman", serif; 
  color: #c6c6c6;
  text-align: center;
  background-color: #f5f5f5;
  outline: 1px solid #c9c9c9;
}

.advert_state_empty:hover { outline: 1px solid #c9c9c9; }